@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

html, body {
  height: 100vh;
  width: 100vh;
}

body {
  margin: 0;
}

#container {
  font-family: 'Roboto', sans-serif;
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 4fr;
}

#sidebar {
  height: 100vh;
  grid-column: 1/2;
  grid-row: 1/3;
  background-color: rgb(76, 165, 216) ;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 3rem;
}

#sidebar h3 {
  padding-top: 1.5rem ;
  padding-left: 1.5rem;
  margin: 0;
}

#sidebar ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  list-style-type: none;
  margin: 0;
  padding-left: 1.5rem;
}

#main-content {
  height: 100vh;
  background-color: rgb(227, 227, 227);
  display: grid;
  grid-template-columns: 1fr 1fr 0.7fr;
  grid-template-rows: repeat(4, 1fr);
  gap: 1rem;
  padding: 1rem;
}

#projects {
  grid-column: 1/3;
}

#card-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 0.5fr repeat(3, 1fr);
  gap: 10px;
}

.project-card {
  background-color: white;
  border-radius: 1rem ;
  padding: 1rem ;
}

#announcements {
  grid-column: 3/4;
}

#announcement-box {
  background-color: white;
  border-radius: 1rem;
  padding: 1.5rem;
}